<h2 style="margin-top: 100px; font-size: 40px; color: #052C65">Расходы</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3 g-3 mt-4" style="margin-bottom: 173px;">
	{{cardsHtml}}
	<div class="col">
		<div class="card p-3 d-flex align-items-center justify-content-center" style="height: 121px; border: 1px solid #D9D9D9; border-radius: 12px;">
			<a href="javascript:void(0)" onclick="renderPage('expense-create')" style="font-size: 36px; color: #D9D9D9; text-decoration: none;">+</a>
		</div>
	</div>
</div>